In [1]:
import pandas as pd

In [2]:
tutorialDF = pd.read_csv("Datasets/tutorial.csv")

In [3]:
print tutorialDF

       col0      col1      col2      col3
0 -0.722876 -1.330682  1.309208  0.232378
1  1.160396 -0.730879  0.677368  1.044722
2 -1.062870 -0.503704 -0.238536 -1.417937
3  0.437078  0.362640 -0.111228 -1.649853

In [4]:
tutorialDF.describe()

           col0      col1      col2      col3
count  4.000000  4.000000  4.000000  4.000000
mean  -0.047068 -0.550656  0.409203 -0.447672
std    1.029715  0.701720  0.723956  1.300815
min   -1.062870 -1.330682 -0.238536 -1.649853
25%   -0.807875 -0.880830 -0.143055 -1.475916
50%   -0.142899 -0.617291  0.283070 -0.592780
75%    0.617907 -0.287118  0.835328  0.435464
max    1.160396  0.362640  1.309208  1.044722

In [10]:
tutorialDF.loc[2:4, "col3"]

2   -1.417937
3   -1.649853
Name: col3, dtype: float64

In [14]:
servoDF = pd.read_csv("Datasets/servo.data", names = ["motor", "screw", "pgain","vgain", "class"])

In [25]:
servoDF[servoDF['vgain'] == 5]

    motor screw  pgain  vgain     class
1       B     D      6      5  0.506252
4       D     B      6      5  0.356251
8       C     A      6      5  0.768754
10      B     E      6      5  0.468752
22      B     C      6      5  0.468752
24      A     B      6      5  0.581253
25      E     C      6      5  0.393752
34      C     C      6      5  0.506252
38      C     B      6      5  0.543753
50      D     A      6      5  0.431252
70      B     A      6      5  0.806255
73      A     E      6      5  0.506252
81      A     C      6      5  0.506252
84      E     A      6      5  0.581253
95      A     D      6      5  0.506252
108     E     B      6      5  0.431252
112     C     D      6      5  0.468752
117     E     D      6      5  0.318751
132     E     E      6      5  0.281251
135     B     B      6      5  0.543753
161     C     E      6      5  0.468752
166     A     A      6      5  0.806255

In [34]:
servoDF[(servoDF['motor'] == 'E') & (servoDF['screw'] == 'E')].describe()

          pgain     vgain     class
count  6.000000  6.000000  6.000000
mean   4.166667  2.833333  0.618752
std    1.169045  1.471960  0.325361
min    3.000000  1.000000  0.281251
25%    3.250000  2.000000  0.337501
50%    4.000000  2.500000  0.603127
75%    4.750000  3.750000  0.807816
max    6.000000  5.000000  1.100000

In [35]:
servoDF[servoDF['pgain'] == 4].describe()

       pgain      vgain      class
count   66.0  66.000000  66.000000
mean     4.0   2.060606   0.673298
std      0.0   0.820484   0.314105
min      4.0   1.000000   0.131250
25%      4.0   1.000000   0.365627
50%      4.0   2.000000   0.712504
75%      4.0   3.000000   0.956256
max      4.0   3.000000   1.218740